*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    border: 1px solid;
    margin: 10% 20%;
}

header{
    height: 45px;
    padding: 5px;
    background-color: rgb(41,77,109);

    h1{
        color: #fff;
        font-size: 1.5rem;
    }
}

#group-zvE-PersonB{
    display: none;
    margin-top: 20px;
}

#result{
    color: forestgreen;
}

.year, .veranlagung, .einkommen, .result-area{
    display: grid;
    grid-template-columns: 55% 1fr;
    padding: 30px 20px;
    border-bottom: 1px solid gray;
}

.click-area{
    padding: 20px 20px;
    background-color: rgb(231, 232,233);

    button{
        width: 100%;
        padding: 10px 0px;
        color:  rgb(41,77,109);
        }
}

.result-area{
    border-bottom: unset;
}

.input-design{
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 80%;
    padding: 4px 2px;
    font-family: 'Open Sans', sans-serif;
    color:  rgb(41,77,109);

    &:focus{
        outline: none;
    }
}


